node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

pnpm-lock.yaml
package-lock.json
yarn.lock
yarn-*.log

# macOS
.DS_Store

tailwind.json
tailwind.css